{% extends 'base.html.twig' %}

{% block title %}Hello BlogPostController!{% endblock %}

{% block body %}
    {% for blogpost in blogposts %}
        <h3>{{ blogpost.title }}</h3>
    {% endfor %}
{% endblock %}
